<div class="row" id="showBox">
    <div id="sightingWrapper" class="col-md-6">
        <div id="showTopRow" class="row">
            <div class="col-md-6">
                <h3>Sighting Information</h3>
            </div>
            <div class="col-md-6">
                <button id="editModalBtn" type="button" class="btn btn-outline-primary hidden" data-bs-toggle="modal" data-bs-target="#editModal">
                    <i class="fa-solid fa-pen"></i> Edit Sighting
                </button>
                <button id="toIndexBtn" type="button" class="btn btn-primary">
                    <i class="fa-solid fa-house"></i> Return to index.
                </button>

            </div>
        </div>

        <div id="sightingData" class=" row">
            <div class="showGroup">
                <div class="showTitle">Author</div>
                <div id="showAuthor" class="showField"><%= sighting.userId.username %></div>
            </div>

            <div class="showGroup">
                <div class="showTitle">Identification</div>
                <div id="showName" class="showField"><%= sighting.identificationName %></div>
            </div>

            <div class="showGroup">
                <div class="showTitle">Confirmation Status</div>
                <div id="showConfirmation" class="showField"><%= sighting.confirmation %></div>
            </div>
            <div class="showGroup">
                <div class="showTitle">Description</div>
                <div id="showDescription" class="showField"><%= sighting.description %></div>
            </div>
            <div class="showGroup">
                <div class="showTitle">Date Sighted</div>
                <div id="showDate" class="showField"><%= sighting.timeAsUTC() %></div>
            </div>
            <div class="showGroup">
                <div class="showTitle">Location</div>
                <div id="showCoordinates"class="showField"><%= sighting.location.coordinates %></div>
            </div>
            <div class="showGroup showImageGroup">
                <div class="showTitle">Attached Image</div>
                <% if (sighting.image.contentType != null) {%>
                <div id="showImage" class="showField"><img src="data:<%=sighting.image.contentType%>;base64,
                                <%=sighting.image.data.toString('base64')%>" height=200px></div>
                <%} else if (sighting.image.url != null) { %>
                <div id="showImage" class="showField"><img src="<%=sighting.image.url%>%>" height=200px></div>
                <%}%>
            </div>
        </div>
    </div>

    <div class ="col-md-6">
        <div class="row">
            <div id="chat" class="container">
                <div id="chatTitle"><h3>Chat</h3></div>
                <section id="chatHistory">
                    <% if (typeof messages != 'undefined') {%>
                        <% messages.forEach(function(message) {%>
                            <div><p><strong><%= message.sender.username %>:</strong> <%= message.msg %></p></div>
                        <%})%>
                    <%}%>
                </section>
                <form id="chatForm" class="chatFormContainer">
                    <input
                            id="msgIn"
                            type="text"
                            class="form-control-sm"
                            placeholder="Enter Message"
                            required
                            autocomplete="off"
                    />
                    <input id="sendMsgBtn" type="button" value="Send" class="btn btn-primary btn-sm"/>
                </form>
            </div>
        </div>
        <div id="DBPediaData" class="row">
            <h2 id="DBPName"></h2>
            <a href="<%-sighting.identificationURI%>" id="DBPediaURI" title="Go to DBPedia Page"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            <h3 id="DBPLatinName"></h3>
            <img id="DBPthumbnail">
            <br>
            <div id="DBPDescription">
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <%- include edit.ejs%>
    </div>
</div>


<script type="module" src="/javascripts/chat.js" defer></script>
<script src="/javascripts/sighting/show_dbpedia.js" defer ></script>
